#
# CFG File
#

background color: --CATPPUCCIN[base]
foreground color: --CATPPUCCIN[text]

line selector end color: --CATPPUCCIN[overlay0]
line selector start color: --CATPPUCCIN[overlay0]
line selector text color: --CATPPUCCIN[scheme-color]

filetype colours: -
font: /.rockbox/fonts/Roboto-24.fnt
iconset: -
scrollbar: off
selector type: bar (gradient)
show icons: off
statusbar: off
ui viewport: -
viewers iconset: -
