# Catppodccin --CATPPUCCIN[flavor] --CATPPUCCIN[scheme]
# Menu


wps: /.rockbox/wps/catppodccin.wps
sbs: /.rockbox/wps/catppodccin.sbs
# fms: /.rockbox/wps/catppodccin.fms

backdrop: /.rockbox/backdrops/catppodccin_bd.svg
background color: --CATPPUCCIN[base]

font: /.rockbox/fonts/Roboto-24.fnt
foreground color: --CATPPUCCIN[text]
filetype colours: -

iconset: -
show icons: off
viewers iconset: -

line selector start color: --CATPPUCCIN[mantle]
line selector end color: --CATPPUCCIN[mantle]
line selector text color: --CATPPUCCIN[accent]
selector type: bar (gradient)
scrollbar: right
scrollbar width: 4

statusbar: off

ui viewport: 11,29,140,200,-,-,-
