# Catppodccin --CATPPUCCIN[flavor] --CATPPUCCIN[scheme]
# Menu

font: /.rockbox/fonts/Roboto-24.fnt
backdrop: /.rockbox/backdrops/catppodccin_bd.svg
sbs: /.rockbox/wps/catppodccin.sbs
wps: /.rockbox/wps/catppodccin.wps

background color: --CATPPUCCIN[base]
foreground color: --CATPPUCCIN[text]

line selector start color: --CATPPUCCIN[accent]
line selector end color: --CATPPUCCIN[accent]
line selector text color: --CATPPUCCIN[crust]
selector type: bar (gradient)

filetype colours: -
iconset: -
scrollbar: off
show icons: off
statusbar: custom
viewers iconset: -
