#
# CFG File
#
wps: /.rockbox/wps/iModern.wps
sbs: /.rockbox/wps/iModern.sbs
fms: /.rockbox/wps/iModern.fms
backdrop: /.rockbox/backdrops/iModern_bd.bmp

background color: --CATPPUCCIN[base]
foreground color: --CATPPUCCIN[text]

line selector end color: --CATPPUCCIN[scheme-color]
line selector start color: --CATPPUCCIN[scheme-color]
line selector text color: --CATPPUCCIN[text]

filetype colours: -
font: /.rockbox/fonts/24 iLike.fnt
iconset: -
scrollbar: off
selector type: bar (gradient)
show icons: off
statusbar: off
ui viewport: -
viewers iconset: -
